<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/1_Basics/00_Intro_To_Programming.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Python 101

#### Terms to know:
- **Object**
- **Variable**
- **Function**
- **Class**
- **Method**
- **Attribute**

### Objects: The Data Records

In data analytics, an object is like a record in your spreadsheet. Each record can have multiple fields, such as job title, location, and salary.

**Object**: A data record with fields.

In [69]:
"Data Analyst"

'Data Analyst'

In [70]:
90000

90000

Everything in Python is an object; including functions and classes.

In [6]:
print()

In [7]:
str

str

### Variables: The Reference to Objects

Think of a variable as a cell in an Excel spreadsheet. You can store data in it, like a number, text, or a formula.

**Variable**: A named cell that stores an object.

In [1]:
job_title = "Data Analyst"
job_location = "United States"
job_salary = 90000

In [3]:
# each variable has a unique identifier
id(job_title), id(job_location), id(job_salary)

(4594639152, 4594645744, 4593144944)

Variables that reference the same object are the same.

In [2]:
lukes_job = job_title

lukes_job

'Data Analyst'

In [5]:
# the id of the same object is the same
id(job_title), id(lukes_job)

(4594639152, 4594639152)

Variables may be assigned the same name, but aren't necessarily the same.

In [8]:
job_title1 = "Data Analyst"
job_title2 = "Data Analyst"

# the id of the same object is the same
id(job_title1), id(job_title2)

(4594562480, 4594554352)

### Functions: The Manipulators of Objects

Functions are like custom formulas in Excel. They perform tasks that can be applied to different sets of data.

**Function**: A reusable piece of code that performs a specific task.

In [72]:
def display_info(title, location, salary):
    return print(f"JOB:       {title}\nLOCATION:  {location}\nSALARY:    ${salary:,.0f}")

In [73]:
job_title = "Data Analyst"
job_location = "United States"
job_salary = 90000

display_info(job_title, job_location, job_salary)

JOB:       Data Analyst
LOCATION:  United States
SALARY:    $90,000

### Classes: The Template of Objects

A class is like a template for your records in Excel. It defines the fields that each record will have.

**Class**: A template for creating objects (records).

In [74]:
class JobPost:
    def __init__(self, title, location, salary):
        self.title = title
        self.location = location
        self.salary = salary

    def display_info(self):
        return print(f"JOB:       {self.title}\nLOCATION:  {self.location}\nSALARY:    ${self.salary:,.0f}")

In [75]:
JobPost

__main__.JobPost

### Attributes: The Variables of an Object

Attributes are like the columns in your spreadsheet. Each attribute stores specific data for each record.

**Attribute**: A field in a record, defined by its class.

In [76]:
class JobPost:
    def __init__(self, title, location, salary):
        self.title = title  # Attribute
        self.location = location  # Attribute
        self.salary = salary  # Attribute

In [77]:
job = JobPost("Data Engineer", "New York, NY", 425000)

In [78]:
job.title

'Data Engineer'

In [79]:
job.salary

425000

### Methods: The Functions of an Object

Methods are like the built-in functions in Excel that operate on your records. They define actions that the records can perform.

**Method**: A function defined inside a class that operates on its objects.

In [80]:
class JobPost:
    def __init__(self, title, location, salary):
        self.title = title
        self.location = location
        self.salary = salary
    
    def display_info(self):
        return print(f"JOB:       {self.title}\nLOCATION:  {self.location}\nSALARY:    ${self.salary:,.0f}")

In [81]:
job = JobPost("Data Engineer", "New York, NY", 425000)

job.display_info()

JOB:       Data Engineer
LOCATION:  New York, NY
SALARY:    $425,000