<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_23_Pandas Intro.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## 游릴 Load and Display Last 5 Rows (1.23.1)

In [ ]:
# Code Needed
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

---

## 游릴 Select Job Location Column (1.23.2)

In [ ]:
# Code Needed
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

---

## 游릴 Select Search Location Column (1.23.3)

In [ ]:
# Code Needed
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

---

## 游릴 Select Job Title from 57th Row Element (1.23.4)

In [ ]:
# Code Needed
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

---