<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_26_Pandas Analysis.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Calculate Mean Salary (1.26.1)

---

## ðŸŸ© Calculate Median Salary (1.26.2)

---

## ðŸŸ¨ Average Salary by Job Title (1.26.3)

---

## ðŸŸ¨ Job with Lowest Salary (1.26.4)

---

## ðŸŸ¥ Job Count by Country (1.26.5)

---